<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="recipe">Search recipes</a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" routerLink="profile" *ngIf=isloggedIn()>My Recipes</a>
            <a class="nav-item nav-link" routerLink="login" *ngIf=!isloggedIn()>Login</a>
            <a class="nav-item nav-link" routerLink="signup" *ngIf=!isloggedIn()>Register</a>
            <a class="nav-item nav-link " href="" (click)="logout()" *ngIf=isloggedIn()>Logout</a>
        </div>
    </div>
</nav>