<main class="form-signin">
    <form [formGroup]="loginForm">
        <h1 class="h3 mb-3 fw-normal">Sign In</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" formControlName="email">
            <label for="floatingInput">Email</label>
            <div *ngIf="loginForm.invalid && emailControl?.touched && emailControl.errors">
                <span *ngIf="emailControl.errors['required']">Email is required</span>
                <span *ngIf="emailControl.errors['email']">Email must be an email</span>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" formControlName="password">
            <label for="floatingPassword">Password</label>
            <div *ngIf="loginForm.invalid && passwordControl?.touched && passwordControl.errors">
                <span *ngIf="passwordControl.errors['minlength']">Password must have at least 8 characters</span>
            </div>
        </div>
        <button type="button" (click)="login()" class="w-100 btn btn-lg btn-primary" [disabled]="loginForm.invalid">Sign
            in</button>
    </form>
</main>