<div *ngIf="recipe">
    <h1> {{ recipe.label }} </h1>
    <img src="{{ recipe.image }}" alt="">
    <div *ngFor="let ingredient of recipe.ingredientLines">
        <p>
            - {{ ingredient }}
        </p>
    </div>
    <div *ngIf="this.message !== ''">
        {{ this.message }}
    </div>
    <div class="d-flex flex-row" *ngFor="let list of lists">
        <div>
            <h4>{{ list.title }}</h4>
        </div>
        <button class="btn btn-primary" (click)="saveToList(recipe, list.id)">Save recipe</button>
    </div>
</div>