<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required #title="ngModel" />
    <button type="submit">Skapa ny lista</button>
</form>

<div class="d-flex flex-row" *ngFor="let list of lists">
    <div>
        <a [routerLink]="['list', list.id]">{{ list.title }}</a>
    </div>
    <div>
        <button (click)="deleteList(list.id)" class="alert alert-danger">X</button>
    </div>

</div>