<div class="w-100">
    <div class=" mt-5 d-flex justify-content-center input-group">
        <div class="form-outline">
            <div class="d-flex flex-row">
                <input class="form-control" type="text" name="inputValue" [(ngModel)]="inputValue">
                <button class="btn btn-primary" (click)="handleSearch()" type="submit">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-around">
    <div class="d-flex justify-content-around w-50">
        <div class="d-flex flex-column">
            <h3 class="white">Allergens</h3>

            <div *ngFor="let allergen of allergens">
                <input class="form-check-input " type="checkbox" name="allergens" [(ngModel)]="allergen.checked">
                <label class="form-check-label white" for="flexRadioDefault1">
                    {{ allergen.name }}
                </label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around w-50">
        <div class="d-flex flex-column">
            <h3 class="white">Meal Type</h3>
            <div *ngFor="let mealtyp of mealType">
                <input class="form-check-input " type="checkbox" name="allergens" [(ngModel)]="mealtyp.checked">
                <label class="form-check-label white" for="flexRadioDefault1">
                    {{ mealtyp.name }}
                </label>
            </div>
        </div>
    </div>
</div>

<div class="flex-container">
    <ul class="recipe-card" *ngFor="let recipe of recipes; let i = index">
        <img routerLink="/detail/{{ recipe.id }}" class="img" src="{{ recipe.image }}" alt="..." />
        <h5>
            <a class="title" routerLink="/detail/{{ recipe.id }}"> {{ recipe.label }} </a>
        </h5>
    </ul>
</div>